{% extends 'base.html.twig' %}

{% block title %} Nouvel ingrédient {% endblock %}

{% block body %}

<h1>Ajout d'un nouvel ingrédient</h1>

<div class="col-6 mt-3">
    {{ form_start(form) }}
    
	{{ form_row(form.denomination) }}
	{{ form_row(form.quantite) }}
	{{ form_row(form.image) }}
	  
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}