{% extends 'base.html.twig' %}

{% block title %} Ingrédients {% endblock %}

{% block body %}

<div>
    <h1>Ingrédients</h1>
    
     <div class="card">
    	<div class="card-header">
    	 	{{ pagination.nb_elements }} ingrédient{% if pagination.nb_elements > 1 %}s{% endif %} {% if pagination.pages_count > 0 %} - Page {{ pagination.page }} / {{ pagination.pages_count }} {% endif %}
    	    <a href="{{ path('ingredient_add') }}" class="float-right"><span class="oi oi-plus"></span> Créer un nouvel ingrédient</a>
    	    {{ labelFilter(path('utils_delete-search', {'page' : pagination.page} ), current_search) | raw }}
      	</div>
      	
      	<div class="card-body">
          	<table class="table table-sm table-striped">
        	<tr>
        		<th> {{ headerFilter(path('ingredient_listing', {'page' : pagination.page, 'field' : 'id'} ), '#', current_order, current_field) | raw }} </th>
        		<th> {{ headerFilter(path('ingredient_listing', {'page' : pagination.page, 'field' : 'denomination'} ), 'Dénomination', current_order, current_field) | raw }} </th>
        		<th>Type d'ingrédient</th>
        		<th>Prix ingrédient</th>
        		<th>Quantité</th>
        		<th>Seuil d'alerte</th>
        		<th>Actions</th>
        	</tr>
        	
        	<tr>
        	    <td>{{ inputFilter(path('ingredient_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Ingredient-id', current_search, 'Identifiant') | raw }}</td>
                <td>{{ inputFilter(path('ingredient_listing', {'page' : pagination.page, 'field' : current_field, 'order' : current_order}), 'Ingredient-denomination', current_search, 'Dénomination') | raw }}</td>
        	</tr>
                {% for ingredient in ingredients %}
            <tr>
        		<td>{{ ingredient.actif | actif(true) |raw }} {{ ingredient.id }}</td>
        		<td>{{ ingredient.denomination }}</td>
        		<td>{{ ingredient.typeIngredient.denomination }}</td>
        		<td>
            		{% for ing in ingredient.prixIngredients %}
            		    {{ ing.prix }} €
            		{% endfor %}
            	</td>
        		<td>{{ ingredient.quantite }}</td>
        		<td>{{ ingredient.seuilAlerte }}</td>
        		<td>
        			    {{ actionSee(path('ingredient_see', {'id' : ingredient.id })) | raw }}  
        			    {{ actionEdit(path('ingredient_edit', {'id' : ingredient.id })) | raw }}
        			    {{ actionDelete(ingredient.actif, path('ingredient_delete', {'id' : ingredient.id })) | raw }}
        		</td>
                {% endfor %}
            </tr>
      		</table>
          {% if ingredients is empty %}
          		<p class="text-info text-center">Il  n'y a aucun ingrédient correspondant à votre recherche.</p>
          {% endif %}
		</div>
		         
        <div class="card-footer">
      		{% include 'elements/pagination.html.twig' %}
      	</div> 	
    </div>
{% endblock %}


