{% extends 'base.html.twig' %}

{% block title %} Menus {% endblock %}

{% block body %}

    <h1>Menus <a href="{{ path('menu_add') }}" class="text-dark float-right"><span class="oi oi-plus"></span> Créer un nouveau menu</a></h1><br>
         
<div id="block-index-menus">
    <div class="row">

    	{% for menu in menus %}
		<div class="col-4">
    		<div class="card card-menus" style="width: 20rem">
        		<div class="card-header">
        	   		 {{ menu.actif | actif(true) | raw }} Menu n° {{ menu.id }} - {{ menu.denomination }}
        		</div>
      	
        		<div class="card-body text-center">             
            			<b><span class="oi oi-signpost"></span> Entrées au choix :</b><br>
            			        {% for plat in menu.plat %}
            					{% if plat.type == 1 %}
            					{{ plat.denomination }}<br>
            					{% endif %}
            					{% endfor %}
            					<br>
            			<b><span class="oi oi-signpost"></span> Plats au choix :</b><br>
            			        {% for plat in menu.plat %}
            					{% if plat.type == 2 %}
            					{{ plat.denomination }}<br>
            					{% endif %}
            					{% endfor %}
            			      	<br>
            			<b><span class="oi oi-signpost"></span> Desserts au choix :</b><br>
            			        {% for plat in menu.plat %}
            					{% if plat.type == 3 %}
            					{{ plat.denomination }}<br>
            					{% endif %} 	
            					{% endfor %}
        	</div>
        		<div class="card-footer"></div>
        	</div>
        	</div>

		{% endfor %}
		        	<br>
	</div>
</div>
{% endblock %}