{% extends 'base.html.twig' %}

{% block title %} Edition d'un plat {% endblock %}

{% block body %}

<h1>Modification du plat #{{ plat.id }} - {{ plat.denomination }}</h1>

<div class="col-6 mt-3">
    {{ form_start(form) }}
	{{ form_row(form.denomination) }}
	{{ form_row(form.description) }}
    {{ form_row(form.image) }}
	{{ form_row(form.type) }}
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
    
</div>
	  
{% endblock %}