{% extends 'base.html.twig' %}

{% block title %}Plat - Index{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    <h1>Kafeti - Plat (index)</h1>
    
          	<table class="table table-sm table-striped">
        	<tr>
        		<th>#</th>
        		<th>Dénomination</th>
        		<th>Description</th>
        		<th>Type de plat</th>
        		<th>Catégorie de plat</th>
        	</tr>
        	
                {% for plat in plats %}
            <tr>
            	
        		<td>{{ plat.actif |actif(true) |raw}}{{ plat.id }}</td>
        		<td>{{ plat.denomination }}</td>
        		<td>{{ plat.description }}</td>
        		<td>{{ plat.type | type }}</td>
        		<td>{{ plat.categoriePlat.denomination }}</td>
                {% endfor %}
            </tr>
</div>
{% endblock %}
