{% extends 'base.html.twig' %}

{% block title %}Plat - Index{% endblock %}

{% block body %}

<div>
    <h1>Plats</h1>

        <div class="card">
    	<div class="card-header">
    	    <a href="{{ path('plat_add') }}"><span class="oi oi-plus"></span> Créer un nouveau plat</a>
      	</div>
      	
      	<div class="card-body">
          	<table class="table table-sm table-striped">
        	<tr>
        	
        		<th>#</th>
        		<th>Dénomination</th>
        		<th>Description</th>
        		<th>Type de plat</th>
        		<th>Catégorie de plat</th>
        		<th>Actions</th>
        	</tr>
        	
                {% for plat in plats %}
            <tr>
        		<td>{{ plat.actif | actif(true) | raw }}{{ plat.id }}</td>
        		<td>{{ plat.denomination }}</td>
        		<td>{{ plat.description }}</td>
        		<td>{{ plat.type | type }}</td>
        		<td>{{ plat.categoriePlat.denomination }}</td>
    		    <td>
    			    {{ actionSee(path('plat_see', {'id' : plat.id })) | raw }}
    			    {#
    			    {{ actionEdit(path('plat_edit', {'id' : plat.id })) | raw }}
    			    {{ actionDelete(plat.actif, path('plat_delete', {'id' : plat.id })) | raw }}
    			    #}
    			</td>
                {% endfor %}
            </tr>
            </table>
            </div>
            
            
        <div class="card-footer">
      		{% include 'elements/pagination.html.twig' %}
      	</div>
      	
      	
</div>
{% endblock %}
