{% extends 'base.html.twig' %}

{% block title %} Fiche plat {% endblock %}

{% block body %}

<div id="block-see-plat">
	<h1>Visualisation du plat {% if is_granted ('ROLE_GERANT') %} #{{ plat.id }} {% endif %} - {{ plat.denomination }}</h1>
		<div class="img-ardoise mx-auto mt-3">
		<div class="row align-items-center">
	        <div class="col-6 img-plat">{{ imagePlat(plat.image, plat.denomination) |raw }}</div>
	        
            <div class="col-6 text-plat">
                <b>Catégorie de plat :</b><br/> {{ plat.categoriePlat.denomination }} ({{ plat.categoriePlat.continent |continent }})<br/><br/>
                <b>Description du plat :</b><br/> {{ plat.description }}<br/><br/>
                <b>Type de plat :</b><br/> {{ plat.type |type |raw }}
        	</div>
        	</div>
    	</div>	
</div>

{% endblock %}